<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
    <sectionGroup name="fluorine">
      <section name="activators" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="nullable" type="com.TheSilentGroup.Fluorine.Configuration.NullableTagHandler, com.TheSilentGroup.Fluorine" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <appSettings>  	
    <add key="FluorineCustomMemberMapper" value="com.TheSilentGroup.Fluorine.FirstCapMemberMapper"/>
    <add key="FluorineConvertLineEndings" value="true"/>
    <add key="timezoneCompensation" value="auto"/>
    <add key="log4net.Internal.Quiet" value="true"/>
    <add key="DataDynamicsARLic" value="Chafic Kazoun,B-Line Medical,DD-APN-10-E000799,9YQ1Q615J2PMP64BP564"/>
    <add key="LaerdalAutoStop" value="false"/>
  </appSettings>
  <fluorine>
    <nullable/>
    <activators>
      <add key="request" value="com.TheSilentGroup.Fluorine.Activation.RequestActivator"/>
      <add key="application" value="com.TheSilentGroup.Fluorine.Activation.ApplicationActivator"/>
    </activators>
  </fluorine>
  
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
